<%#***************************
 * THIS FOR FLASH MESSAGES *
 ***************************%>

<% if (messages.error) { %>
<div class="message error">
  <p><%= messages.error %></p>
  <span>&times;</span>
</div>
<% } %>

<% if (messages.warn) { %>
<div class="message warn">
  <p><%= messages.warn %></p>
  <span>&times;</span>
</div>
<% } %>

<% if (messages.success) { %>
<div class="message success">
  <p><%= messages.success %></p>
  <span>&times;</span>
</div>
<% } %>

<% if (messages.info) { %>
<div class="message info">
  <p><%= messages.info %></p>
  <span>&times;</span>
</div>
<% } %>