<%#***************************
 * THIS FOR FLASH MESSAGES *
 ***************************%> 

 <% if (messages.error) { %>
  <div class="message error"><%= messages.error %></div>
 <% } %> 
 
 <% if (messages.warn) { %>
  <div class="message warn"><%= messages.warn %></div>
 <% } %> 
 
 <% if (messages.success) { %>
  <div class="message success"><%= messages.success %></div>
 <% } %> 
 
 <% if (messages.info) { %>
  <div class="message info"><%= messages.info %></div>
 <% } %>