<div class="calendar-appointment">
  <div class="calendar-header">
    <b>May 2025</b>
    (Week 1)
    <button class="btn-transparent">

      < </button>
        <button class="btn-transparent">></button>
  </div>
  <div class="calendar">
    <div class="header-day">
      <p class="day">Lundi 1</p>
      <p class="day">Mardi 2</p>
      <p class="day">Mercredi 5</p>
      <p class="day">Jeudi 4</p>
      <p class="day">Vendredi 6</p>
      <p class="day">Samedi 7</p>
      <p class="day">Dimanche</p>
    </div>

    <div class="content-tasks">
      <div class="column-task">
        <div class="task">
          <p>Lorem ipsum dolor sit amet.</p>
          <span>10 points</span>
        </div>
        <div class="task">
          <p>Lorem ipsum dolor sit amet.</p>
          <span>10 points</span>
        </div>
      </div>
      <div class="column-task">
        <div class="task">
          <p>Lorem ipsum dolor sit amet.</p>
          <span>10 points</span>
        </div>
      </div>
      <div class="column-task">
        <div class="task">
          <p>Lorem ipsum dolor sit amet.</p>
          <span>10 points</span>
        </div>
      </div>
      <div class="column-task">
        <div class="task">
          <p>Lorem ipsum dolor sit amet.</p>
          <span>10 points</span>
        </div>
      </div>
      <div class="column-task">
        <div class="task">
          <p>Lorem ipsum dolor sit amet.</p>
          <span>10 points</span>
        </div>
      </div>
      <div class="column-task">

      </div>
      <div class="column-task">

      </div>
    </div>
  </div>
</div>