<div class="header-user">
  <div class="info-user">
    <img class="avatar" src="/avatars/<%= user.avatarUrl %>" alt="">
    <div class="info">
      <div class="greeting">
        <h2>Good Morning, <%= user.firstName %>!</h2>
        <p>Here is your today's briefing</p>
      </div>
      <div class="briefing">
        <p>You have 5 Tasks scheduled for <b>Today</b></p>
        <p>3 Team tasks have been added since Yesterday</p>
      </div>
    </div>
  </div>
  <div class="total-points">
    <h1>155</h1>
    <p>Total points</p>
  </div>
</div>