<div class="setting" x-show="open" @click.outside="open=false">
  <div class="icon-wrapper">
    <img class="icon" src="/assets/profile.svg" alt="user-icon" width="80" height="80" />
  </div>
  <div class="info">
    <h3><%= user.lastName + ' ' + user.firstName %></h3>
    <p><%= user.role %></p>
  </div>
  <div class="actions">
    <button type="button">Dark Mode</button>
    <button type="button">About</button>
    <form
      @submit.prevent="if(confirm('Voulez-vous vraiment vous déconnect?')) $event.target.submit()"
      action="/logout?_method=DELETE"
      method="post">
      <button type="submit">Déconnexion</button>
    </form>
  </div>
</div>
