:root {
   --primary-color: #1976d2;
   --primary-hover: #1565c0;
   --surface-color: #ffffff;
   --background-color: #ffffff;
   --text-primary: rgba(0, 0, 0, 0.87);
   --text-secondary: rgba(0, 0, 0, 0.6);
   --divider-color: rgba(0, 0, 0, 0.12);
   --error-color: #d32f2f;
   --white-base: #fff;
   --border-color: #ddd;
   --border-radius: 4px;
   --box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
   --box-shadow-2: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   letter-spacing: 0.5px;
   background-color: var(--background-color);
   color: var(--text-primary);
}

body::before {
   content: '';
   position: absolute;
   right: 10%;
   top: 0;
   width: 500px;
   height: 500px;
   z-index: -9;
   border-radius: 50%;
   background-image: linear-gradient(
         90deg,
         rgba(146, 144, 144, 0.059) 1px,
         transparent 1px
      ),
      /* Lignes verticales */
         linear-gradient(rgba(146, 144, 144, 0.059) 1px, transparent 1px),
      /* Lignes horizontales */
         linear-gradient(0deg, rgba(246, 148, 148, 0.072) 1px, transparent 1px);
   /* Ligne rouge du cahier */
   background-size: 30px 30px, 30px 30px, 100% 30px;
   /* Taille des cases */
   background-position: 0 0, 0 0, 10px 0;
   /* Décalage de la ligne rouge */
}

body::after {
   content: '';
   position: absolute;
   left: -5%;
   top: -55%;
   width: 500px;
   height: 500px;
   z-index: -9;
   border-radius: 50%;
   background-image: linear-gradient(to top, #fafeff, #f3fbfe);
   filter: blur(15px);
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--primary-color);
}

button {
   appearance: button;
   border: none;
}

button[type='button'] {
   cursor: pointer;
   zoom: normal;
   padding: 0.5rem 1rem;
}

.button {
   text-align: center;
   padding: 0.8rem 1rem;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   width: 100%;
}

svg {
   width: 20px;
   height: 20px;
   fill: none;
   stroke: currentColor;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 1rem;
   height: 80px;
   margin-bottom: 1rem;
   position: relative;
}

.header .logo {
   width: 200px;
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 14px;
   gap: 8px;
}

.btn-transparent {
   font-size: 18px;
   cursor: pointer;
   background-color: transparent;
}

.onglet {
   height: 40px;
   cursor: pointer;
   font-size: 16px;
   padding: 0 1rem;
   background-color: transparent;
}

.onglet.active {
   font-weight: bold;
}

.content {
   display: none;
   margin: 0.5rem 0;
   padding: 1rem;
   max-height: 350px;
}

.not-found-ledger {
   text-align: center;
   width: 100%;
   max-height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 300px;
   background-image: linear-gradient(
         90deg,
         rgba(146, 144, 144, 0.059) 1px,
         transparent 1px
      ),
      /* Lignes verticales */
         linear-gradient(rgba(146, 144, 144, 0.059) 1px, transparent 1px),
      /* Lignes horizontales */
         linear-gradient(0deg, rgba(246, 148, 148, 0.072) 1px, transparent 1px);
   /* Ligne rouge du cahier */
   background-size: 30px 30px, 30px 30px, 100% 30px;
   /* Taille des cases */
   background-position: 0 0, 0 0, 10px 0;
   /* Décalage de la ligne rouge */
}

.content.active {
   display: block;
}
.teams-container,
.ledgerContent {
   width: 80%;
   margin: 0 auto;
}

.teams-container .group-item {
   padding: 1rem;
   margin: 0.8rem 0;
   display: grid;
   grid-template-columns: 1fr 250px 20px;
   align-items: center;
   background-color: var(--background-color);
   box-shadow: var(--box-shadow-2);
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}

.group-list {
   padding: 0.5rem;
}

.group-item {
   width: 100%;
   margin-bottom: 0.5rem;
   position: relative;
}
.member-avatar-list {
   display: flex;
   gap: 10px;
}
.member-avatar-list img {
   width: 30px;
   height: 30px;
   background-color: #333;
   border-radius: 50%;
   margin: -10px;
   border: 2px solid var(--background-color);
}

.content,
.type-ledger {
   width: 100%;
}

.type-ledger {
   padding: 0.5rem;
   /* border: 1px solid red; */
}

.ledger-item {
   width: 100%;
   /* max-width: 600px; */
   min-height: 50px;
   max-height: 100px;
   position: relative;
   margin: 0.5rem 0;
   display: grid;
   grid-template-columns: 30px 1fr 100px 100px 20px 30px;
   gap: 15px;
   padding: 0.5rem;
   align-items: center;
   box-shadow: var(--box-shadow-2);
   background-color: var(--background-color);
   border-radius: 3px;
}

.ledger-item .status-legder {
   width: 100%;
   height: 100%;
}

.ledger-item .dropdown {
   box-shadow: var(--box-shadow-2);
   background-color: var(--background-color);
   position: absolute;
   border-radius: 8px;
   padding: 0.2rem;
   right: 0;
   top: 35px;
   z-index: 2;
}

.ledger-item .dropdown li {
   padding: 0.8rem;
   cursor: pointer;
   border-radius: 3px;
}

.ledger-item .dropdown li:hover {
   background-color: #ebe9e985;
}

.header-user {
   width: 80%;
   margin: 0.5rem auto;
   /* background-color: ; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
}

.header-user .info-user {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}

.header-user .info-user .avatar {
   background-color: #000000c1;
   max-width: 200px;
   max-height: 200px;
   border-radius: 15px;
   object-fit: cover;
}

.header-user .info-user .info {
   display: flex;
   flex-direction: column;
   gap: 7px;
}

.header-user .info-user .info p {
   font-size: 12px;
   color: #201f1fb7;
}

.modal {
   margin: 2% auto;
   border: none;
   box-shadow: var(--box-shadow-2);
   background-color: var(--background-color);
   padding: 1rem;
   width: 100%;
   border-radius: 6px;
}

.modal::backdrop {
   background-image: linear-gradient(
         90deg,
         rgba(146, 144, 144, 0.059) 1px,
         transparent 1px
      ),
      /* Lignes verticales */
         linear-gradient(rgba(146, 144, 144, 0.059) 1px, transparent 1px),
      /* Lignes horizontales */
         linear-gradient(0deg, rgba(246, 148, 148, 0.072) 1px, transparent 1px);
   /* Ligne rouge du cahier */
   background-size: 30px 30px, 30px 30px, 100% 30px;
   /* Taille des cases */
   background-position: 0 0, 0 0, 10px 0;
   /* Décalage de la ligne rouge */
}

.modal .modal-header {
   display: flex;
   justify-content: space-between;
   padding: 0.5rem;
   align-items: center;
   width: 100%;
}

.form {
   width: 100%;
   padding: 1rem;
}

.form .field {
   width: 100%;
}

.form .field label {
   display: block;
   margin: 0.3rem 0;
}

.form .field input,
.field select,
.field textarea,
button[type='submit'] {
   width: 100%;
   max-height: 40px;
   height: 40px;
   border: 1px solid #ccc;
   padding: 0.8rem;
   outline: none;
   border-radius: 6px;
}

.form .field textarea {
   max-height: 60px;
   height: 60px;
}

.total-points {
   /* background-color: #0a4fd0; */
   position: relative;
   height: 60px;
   z-index: 4;
}

.total-points::before {
   position: absolute;
   content: url('/assets/star.min.svg');
   opacity: 0.6;
   width: 100px;
   height: 100px;
   left: -70%;
   z-index: -5;
   top: -30%;
   /* background-color: #1e5ed4c1; */
}

.total-points::after {
   content: '';
   position: absolute;
   width: 80px;
   height: 100px;
   background-color: var(--background-color);
   filter: blur(6px);
   inset: -12% 0 0 0;
   z-index: -1;
}

:is(.total-points h1, .total-points p) {
   z-index: 4;
}

.total-points h1 {
   font-size: 3rem;
}

.total-points p {
   font-size: 10px;
   text-transform: uppercase;
}

.badge {
   display: flex;
   align-items: center;
   gap: 15px;
   cursor: pointer;
}

.badge .profile {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 0.2rem;
   width: 180px;
}

.badge .profile .info .role {
   font-size: 10px;
   letter-spacing: 4px;
}

.badge .profile .avatar {
   width: 40px;
   height: 40px;
   background-color: #000000c1;
   border-radius: 10px;
   object-fit: cover;
}
.calendar-appointment {
   width: 80%;
   margin: 0.5rem auto;
   box-shadow: var(--box-shadow-2);
   background-color: var(--background-color);
   display: flex;
   flex-direction: column;
   padding: 1rem;
   border-radius: 6px;
}

.calendar-appointment .calendar {
   display: grid;
   grid-template-rows: 20px 1fr;
   gap: 0.5rem;
   width: 100%;
   height: 300px;
   padding: 1rem;
}

.header-day {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   width: 100%;
   gap: 0.5rem;
}

.header-day .day {
   text-align: center;
}

.content-tasks {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   gap: 0.5rem;
   height: 100%;
   width: 100%;
}

.content-tasks .column-task {
   background-color: #d8e4e5;
   padding: 0.5rem;
   border-radius: 6px;
}

.content-tasks .column-task .task {
   background-color: var(--background-color);
   padding: 0.5rem;
   border-radius: 6px;
   box-shadow: var(--box-shadow-2);
   margin-bottom: 0.5rem;
}

.content-tasks .column-task .task p {
   background-color: #d8e4e5;
   padding: 0.5rem;
   border-radius: 6px;
   font-size: 10px;
}

.content-tasks .column-task .task span {
   background-color: #d8e4e5;
   padding: 0.5rem;
   border-radius: 6px;
   font-size: 10px;
   color: #1565c0;
   margin-top: 5px;
   display: inline-block;
}

.calendar-header {
}

.cards {
   --proportion: 200px;
   display: grid;
   width: 100%;
   padding: 1.5rem;
   max-width: 750px;
   grid-template-columns: repeat(auto-fill, minmax(var(--proportion), 1fr));
   grid-template-rows: repeat(
      auto-fit,
      minmax(calc(var(--proportion) + 13%), 1fr)
   );
   place-content: center;
   gap: 15px;

   .card {
      border: 1px solid var(--border-color);
      background-color: var(--white-base);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1.2rem;
      border-radius: var(--radius-size);
      text-align: center;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      -webkit-transition: transform 0.2s ease-in-out;
      -moz-transition: transform 0.2s ease-in-out;
      -ms-transition: transform 0.2s ease-in-out;
      -o-transition: transform 0.2s ease-in-out;
      &:hover {
         transform: translateY(-5px);

         svg {
            fill: #1064ae41;
            filter: drop-shadow(0 0 4em var(--shadow-color));
         }
      }

      svg {
         --dimension: 100px;
         width: var(--dimension);
         height: var(--dimension);
         stroke-width: 0.62;
      }
      .content {
         color: var(--primary-hover);
         display: flex;
         justify-content: center;
         flex-direction: column;
         padding: 0rem;
      }
   }
}
.setting {
   position: absolute;
   display: flex;
   padding: 1rem 0;
   margin-top: 0.5rem;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   max-width: 250px;
   background-color: var(--white-base);
   border: 1px solid var(--border-color);
   top: 60px;
   right: 1%;
   z-index: 9;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;

   .icon-wrapper {
      background: var(--border-color);
      aspect-ratio: 1;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      .icon {
         --dim: 100px;
         max-width: var(--dim);
         max-height: var(--dim);
         padding: 0.5rem;
      }
   }

   .info {
      text-align: center;
   }

   .actions {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 40px);
      gap: 10px;
      padding: 1rem;

      form {
         grid-column: span 2;
      }

      button[type='submit'] {
         background-color: #7d0b0bd2;
         color: var(--surface-color);
      }
   }
}
.main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   width: 100%;
   height: 70vh;
   row-gap: 35px;
   z-index: 1;

   header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
   }

   .content {
      color: var(--primary-color);
   }

   &::before {
      position: absolute;
      content: '';
      background-image: url('/assets/scale.svg');
      background-position: 50% 100%;
      background-repeat: no-repeat;
      z-index: -1;
      filter: blur(3px);
      width: 100%;
      height: 100%;
   }
}
.form.login {
   max-width: 300px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
}
.body-with-sidebar,
.main-ledgers {
   display: grid;
   grid-template-columns: 20% 1fr;

   .sidebar {
      padding: 0 1rem;

      li {
         padding: 0.5rem 1rem;

         a {
            width: 100%;
            height: 100%;
            display: inline-flex;
         }

         &:hover {
            background-color: #409ec6c1;
            cursor: pointer;
            font-weight: bold;

            a {
               color: #fff;
            }
         }
      }
   }
}

.modal.ledger {
   max-width: 80%;
   height: 85%;
   margin: 2% auto;
   .content {
      display: grid;
      grid-template-columns: 4fr 6fr;
   }
}

.search {
   display: grid;
   grid-template-columns: 20px 1fr;
   align-items: center;
   border: 1px solid var(--border-color);
   padding: 0.3rem;
   gap: 15px;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   input {
      background: transparent;
      border: none;
      outline: none;
      height: 30px;
   }
}

.contenair-client-list {
   .clients-list {
      padding: 1rem 0;

      .client-item {
         display: flex;
         align-items: center;
         gap: 15px;
         padding: 0.5rem;
         margin-top: 0.6rem;
         border: 1px solid var(--border-color);

         .inital {
            width: 40px;
            height: 40px;
            background-color: var(--primary-hover);
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            color: var(--white-base);
            aspect-ratio: 1;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
         }
      }
   }
}
.message {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0.3rem;
   font-size: 15px;

   &.error {
      border-left: 2px solid #d32f2f;
      background-color: #d32f2f2f;
   }
   &.warn {
      border-left: 2px solid #d39c2f;
      background-color: #d3a72f2f;
   }
   &.info {
      border-left: 2px solid #2f91d3;
      background-color: #2f7bd32f;
   }
   &.success {
      border-left: 2px solid #2fd337;
      background-color: #2fd33d2f;
   }
}
.responsive-table {
   width: 100%;
   padding: 1rem;
   background-color: var(--surface-color);

   .users-table {
      border-collapse: collapse;
      width: 100%;

      thead tr th {
         background-color: #ebe8e8b4;
         padding: 1rem;

         &:nth-child(2) {
            text-align: left;
         }
      }
      .user-row {
         border-bottom: 1px solid #e0dfdf67;

         .role-badge {
            padding: 0.2rem 0.8rem;
            font-size: 11px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            &.role-admin {
               background-color: #d32f2f22;
               border: 1px solid #d32f2f;
            }
            &.role-lawyer {
               background-color: #2f8cd33a;
               border: 1px solid #113d70f6;
            }
            &.role-paralegal {
               background-color: #d3ad2f40;
               border: 1px solid #d3ad2fed;
            }
         }

         td {
            text-align: center;
            padding: 0.4rem;
         }

         .user-info {
            display: flex;
            gap: 15px;
            align-items: center;
            .avatar-container {
               width: 40px;
               height: 40px;
               background-color: #333;
               overflow: hidden;
               aspect-ratio: 1;
               border-radius: 50%;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               -ms-border-radius: 50%;
               -o-border-radius: 50%;
               img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
               }
            }
            .user-details {
               span {
                  display: block;
                  text-align: left;

                  &:nth-child(1) {
                     font-weight: bold;
                  }
               }
            }
         }
      }
   }
}
.header-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1rem;

   .controls {
      display: grid;
      width: 100%;
      max-width: 500px;
      grid-template-columns: 5fr 2fr 3fr;
      gap: 15px;

      select {
         height: 100%;
         padding: 0.5rem;
      }
   }
}
.ledger-show {
   width: 60%;
   background-color: var(--background-color);
   padding: 1rem;
}

.ledger-show .header .client,
.ledger-show .header .info {
   display: flex;
   align-items: center;
   gap: 15px;
}

.ledger-show .header {
   width: 100%;
   justify-content: space-between;
   width: 100%;
}

.ledger-show .header .client {
}

.ledger-show .header .client-info a {
   font-size: 18px;
   font-weight: bold;
}

.ledger-show .header .createdAt {
   display: grid;
   grid-template-columns: 40px 1fr;
   align-items: center;
}

.ledger-show .header .status {
   padding: 0.5rem 1rem;
   border-radius: 3px;
   color: var(--surface-color);
}

.ledger-show .header .status[data-status='PENDING'] {
   background-color: #ce650f;
}

.ledger-show .header .status[data-status='OPEN'] {
   background-color: #0fce65;
}

.ledger-show .header .status[data-status='CLOSED'] {
   background-color: #ce0f38;
}

.ledger-show .header .status[data-status='ARCHIVED'] {
   background-color: #0f5bce;
}

.ledger-show .header .client img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: #333;
   padding: 0.5rem;
}

.contents {
   padding: 1.6rem;
}

.ledger-show .contents .title {
   color: #00000058;
   text-transform: uppercase;
   font-size: 12px;
}

.ledger-show .contents p {
   font-weight: bold;
   padding: 0.5rem 0;
}
.ledger-show .action {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   gap: 15px;
}
