<h1>Utilisateurs</h1>

<ul>
   <% users.data.forEach(user => { %>
    <li>
      <span><%= user.firstName %></span>
      <span><%= user.sex %></span>
      <a  href="/users/<%= user.id %>?_method=DELETE">supprimer</a>
    </li>
   <% }) %>
</ul>
